<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<style>#progressbar > div {
   			width: <%= progressbarwidth %>%; /* Adjust with JavaScript */
		}
		</style>

	

		<metaname='viewport' content='width=device-width initial-scale=1.0'>
	</head>
	<body class="login-body">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <a class="navbar-brand" style="color:#000000;" href="#"><span class="glyphicon glyphicon-leaf"></span> artDex</a>
			  <span style="margin-left:20px"><%- (user) ? "<span class='glyphicon glyphicon-user'></span>" + user.username : "Notloggedin" %></span>
			  <a style="float: right; color: #000000;"href="/logout">Logga ut</a>
			</div>
		</nav>
		<div id="level-box">
			<h3>Lv <%= level %></h3>
			<p><%= xp %> / <%= level * 10 %> </p>
			<div id="progressbar">
				<div></div>
			</div>
			<br>

		</div>
		<div>
			<h3 style="text-align:center">Dagens djur</h3>
			<div class="col-md-6" style="width:180px; margin-top:10px; float:left; margin-left:10px;" >
					<img style="width:150px; height:150px" class="img-circle img-border" src=<%- user.animalOfDay.imageUrl %>>
			</div>
			<div class="col-md-6" style="width:200px; float:left;">
				<div class="species"><strong>Art:</strong><p> <%= user.animalOfDay.itemName %></p><br>
				<img style="margin-top:10px" class="img-rounded img-border" src="//maps.googleapis.com/maps/api/staticmap?center=<%- user.animalOfDay.lat %>,<%- user.animalOfDay.lng %>&amp;zoom=12&amp;size=200x200&markers=<%- user.animalOfDay.lat %>,<%- user.animalOfDay.lng %>" >
				
				</div>
					<br>
					<br>

			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="navbar-header  simon-bottom">
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/'">Start</button>
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/badges'">Märken</button>
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/animals'">Rapportera</button>
				 
			
			</div>
		</nav>

		
		




</body>
</html>